.register-container {
    margin-top: 100px;
    .default-card {
        margin: auto;

        .default-text-input-section {
            padding: 10px 0px;
            margin: 0px 20px;
        }
    }
}
