.register-container {
    padding: 30px;
    border: 1px solid black;
    border-radius: 5px;
    width: 25%;
    height: 40%;
    margin: 2.5% auto 10% auto;
    display: flex;
    flex-direction: column;

    .register-container-header-section {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
    }

    .register-container-body-section {
        width: 100%;

        .register-form {
            display: flex;
            flex-direction: column;
            width: 100%;

            input {
                margin-top: 20px;
                &.default-input-error {
                    margin-bottom: 5px;
                }
            }

            .default-text-input-error {
                margin-bottom: 20px;
            }

            .default-text-input-section {
                width: 82%;
                margin: auto;
            }

            .default-button {
                display: block;
                width: 30%;
                margin: 20px auto auto auto;
            }
        }
    }
}
