$color-blue: #0d6efd;
$color-blue-hover: #0069d9;
$color-grey: #565e64;
$color-grey-hover: #5c636a;
$color-light-grey: #e7e7e7;
$color-light-grey-hover: #d9d9d9;
$color-green: #198754;
$color-green-hover: #157347;
$color-yellow: #ffc107;
$color-yello-hover: #ffca2c;
$color-red: #dc3545;
$color-red-hover: #bb2d3b;
$color-light-red: #dc3545;
$color-black: #212529;
$color-black-hover: #1c1f23;
